body {
	background-color: #2196F3;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

#login-container {
	background-color: #BBDEFB;
	border-radius: 5px;
	color: #2196F3;
	margin-left: 20px;
	margin-top: 100px;
	padding: 20px;
	padding-top: 5px;
	width: 250px;
}

#submit-button {
	margin-top: 15px;
}

.label {
 	color: #2196F3;
}

#errorMessage {
	color: red;
	font-size: 13px;
	margin-top: 15px;
}
