/* Footer */
.footer-wrapper {
	text-align: center;
}
.footer {
	height: 140px;
	width: 100%;
	margin-top: 40px;
	padding-top: 40px;
	background-color: #BBDEFB;
	list-style-type: none;
}

.footer li {
	color: #2196F3;
	display: inline-block;
	padding: 25px;
	padding-bottom: 40px;
	font-size: 20;
}

.copyright {
	color: white;
	font-size: 12px;
	margin-top: 17px;
	padding: 20px;
}

@media only screen and (min-width : 320px) and (max-width : 590px) {
	.footer {
		height: 250px;
	}
}
